<div *ngIf="res">
        <div *ngFor="let player of res.players">
                <h2>Player Details</h2>
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" 
      required [disabled]=true
      [(ngModel)]="player.id" name="id" #id="ngModel">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" 
      required [disabled]="viewMode"
      [(ngModel)]="player.name" name="name" #name="ngModel">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" 
      required [disabled]="viewMode"
      [(ngModel)]="player.category" name="category" #category="ngModel">
      </div><br>
      <div>
          <button *ngIf="!viewMode" class="btn btn-success" (click)="onSave()">Save</button>
          <button *ngIf="viewMode" class="btn btn-info" (click)="onEdit()">Edit</button>
          <button *ngIf="viewMode" class="btn btn-danger" (click)="onDelete()">Delete</button>
          <button *ngIf="!viewMode" class="btn btn-warning" (click)="onCancelEdit()">Cancel</button>
      </div>
    </div>